@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #f5f5f5;
  --primary: #e0af3b;
  --accent: #00b0d5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
}
